@charset "utf-8";
table{
    border-collapse:collapse;
        width: 100%;
    border: 1px solid red;
    background-color: #000;
}
tr td:first-child
{ 
    width: 30%;
border: 1px solid red;
}
tr td:last-child
{ 
    width: 50%;
border: 1px solid blue;
}